{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        metosin/malli {:mvn/version "0.16.3"}}}
