.pulsating-spinner {
  display: inline-block;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.navigation-button {
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation-button:hover {
  background-color: #2980b9;
}

.navigation-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
.main-container {
  width: 100%;
  height: 100vh;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.input-field {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.generate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-container {
  position: absolute;
  bottom: 64px;
  left: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
